.todo {
  width: 80%;
  margin: 1rem auto;
  border: 3px solid var(--gray);
  border-radius: 1rem;
  padding: .5rem 1rem;
  background-color: var(--gray-4);
}

.todo:hover {
  background-color: var(--gray-1)
}

.todo > div > a > h3 {
  font-size: 1.7rem;
  font-family: var(--banger-font);
  color: var(--gray-2);
  letter-spacing: 0.05em;
}

.todo > div > a > h3:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--black);
}

.action-container {
  gap: 1rem;
}

.action-container > svg {
  font-size: 1.7rem;
  cursor: pointer;
}

.tags {
  gap: 1rem;
  margin-top: 0.5rem;
}

.tags .tag {
  background-color: var(--primary-color-2);
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
  color: var(--gray-1);
  font-size: 1rem;
  letter-spacing: .1em;
  font-family: var(--banger-font);
}

.tags .tag:hover {
  background-color: var(--primary-color);
  cursor: default;
}
