@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5f5ff6;
  --primary-color-2: #5f5ff6a8;
  --pause-button: rgba(162, 144, 40, 0.66);
  --gray-1: #f2f2f2;
  --gray-2: #4b5563;
  --gray-3: #9ca3af;
  --gray-4: #f9fafb;
  --white: #fff;
  --red: #f43f5e;
  --black: #000;
  --cookie-font: 'Cookie', cursive;
  --banger-font: 'Bangers', cursive;
  --todo-font: 'Satisfy', cursive;
  --markscript-font: 'Marck Script', cursive;
}

body {
  background-color: var(--primary-color);
}

a {
  all: unset;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}
